.featureBody {
    font-family: Varela, sans-serif;
}

#main {
    font-size: 18px;
}

.head {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 25px;
    text-align: center;
}

.workloadMessage {
    /* color: white; */
    /* color: white; */
    /* margin-bottom: 10px; */
    text-align: left;
    /* padding: 15px; */
    font-size: 15px;
    font-weight: bold;
    width: 97%;
    padding: 15px;
    /*     margin-right: 25px; */
    /*     margin-left: 25px; */
    border: none;
    outline: none;
    background: linear-gradient(to bottom right, rgb(211, 213, 214), white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workloadRequestMessage {
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: none;
    outline: none;

    background: linear-gradient(to bottom right, rgb(209, 224, 235), white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.workloadRequestMessage:hover {
    background: linear-gradient(to bottom right, rgb(151, 189, 214), white);

}

.workloadMessage:hover {
    background: linear-gradient(to bottom right, rgb(198, 198, 199), white);
}

.messageViewer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 700px;
    height: fit-content;
}

.replyMessageViewer {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 750px;
    margin-top: 110px;
    /* border: solid; */
    /* border-width: 3px; */
    /* border-color: rgb(93, 176, 201); */
    height: fit-content;
}

.displayContent {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: 750px;
    height: fit-content;
    margin-top: 70px;

}

.button {
    font-size: 17px;
    font-weight: bold;
    border: none;
    padding: 9px;
    width: 150px;
    outline: none;
}

.accept {
    background-color: rgb(0, 167, 75);
}

.accept:hover {
    background-color: rgb(1, 102, 47);
}

.reject {
    background-color: rgb(240, 60, 47);
}

.reject:hover {
    background-color: rgb(133, 15, 7);
}

.link {
    border: none;
    font-size: 16px;
    /* color: rgb(199, 98, 202); */
    text-decoration: none;
    /* background-color: rgb(255, 255, 143); */
    width: 150px;
    padding: 12px;
    /* float: left; */
}

.topic {
    text-align: center;
    /* height: 20px; */
    margin-bottom: 20px;
    color: rgb(161, 163, 163);
    background-color: rgb(230, 230, 230);
    padding: 30px;
}

.displayingMessage {
    display: table;
    /* text-align: ; */
    height: 50px;
    margin-left: 10%;
    width: 80%;
}

.label {
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width: 50%;
}

.value {
    display: table-cell;
    width: 50%;
}

.messageView {
    text-align: center;
    margin-top: 250px;
    color: rgb(180, 178, 178);
}

.searchMembers {
    /* height: 400px; */
    min-height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: fit-content; */
}

.search {
    /* background: rgba(248, 247, 248, 0.856); */
    /* background: linear-gradient( to bottom right,rgba(233, 233, 233, 0.856),white); */
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(204, 198, 198);
    /* height: 80px; */

}

.searchInput {
    padding: 5px;
    width: 120%;
}

.searchLabel {
    text-align: center;
}

.member {
    width: 98%;
    padding: 10px;
    /* background-color: ; */
    background: linear-gradient(to bottom right, rgb(224, 240, 247), white);
    margin: 5px;
}

.memberLabel {
    /* width: 50%; */
    float: right;
}

.allocateForm {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.searchButton {
    border: none;
    /* padding:5%;  */
    /* padding-bottom: 10px; */
    font-size: 15px;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    cursor: pointer;

}

.finalMsg {
    /* overflow: auto; */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(135, 212, 139, 0.4);
}

/* .scheduleDescription{
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(253, 252, 243,0.4);
} */
.scheduleMessage {
    min-height: 700px;
    height: fit-content;
    /* width: 500px; */
    margin-top: 20px;
    margin: auto;
    background-color: var(--entryBackgroundColor);
}

.successMsg {
    border: none;
    /* border-width: 8px; */
    border-radius: 5px;
    margin: auto;
    background: linear-gradient(to bottom right, rgb(177, 255, 170), white);
    text-align: center;
    margin-top: 18%;
    padding-top: 10px;
    height: 150px;
    width: 400px;
}

.correct {
    /* height: 30px; */
    color: green;
}

.allocationInput {
    margin-bottom: 20px;
}

.input {
    width: 100%;
    border-width: medium;
    padding: 5px;
    border: solid;
    border-color: rgb(202, 202, 202);
}

#description {
    width: 100%;
    height: 150px;
}

.dataSet {
    display: table;
    width: 100%;
}

.data {
    display: table-cell;
    width: 50%;
}

.left {
    width: 15%;
}

.right {
    width: 85%;
}

.workloadHistory {
    padding: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 8px;
    background: linear-gradient(to bottom right, rgb(250, 230, 243), white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.workloadHistory:hover {
    background: linear-gradient(to bottom right, rgb(248, 220, 239), white);
}

.close {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.fileDownload {
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    margin-left: 77%;
}

.fileDownload:hover {
    color: rgb(87, 87, 87);
}

#searchMembersOptions {
    width: 98%
}

.memberSearch {
    height: max-content
    /* height: fit-content; */
}