@font-face {
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}

.featureBody {
    font-family: Varela, sans-serif;
}

.default{
    min-height: 650px;
    height: fit-content;
}
.taskList{
    display: table-cell;
    width: 30%;
    height: 400px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 4px solid var(--backgroundColor);
}
.taskPage{
    padding: 30px;
    display: table-cell;
    width: 70%;
    height: 400px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-left: 4px solid var(--entryBackgroundColor);
}
.topic{
    padding-left: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(78, 78, 78);
}
.task{
    background-color: var(--backgroundColor);
    padding: 10px;
    color: var(--fontColor);
    cursor: pointer;

}
.task:hover{
    border-bottom: 1px solid var(--baseColor);
    border-top: 1px solid var(--baseColor);
    border-right: 1px solid var(--baseColor);
    font-weight: bold;

}
.subTask{
    margin-left: 10%;
    background-color: var(--backgroundColor);
    padding: 8px;
    color: var(--fontColor);
    border-left: 4px solid var(--baseColor);
    cursor: pointer;

}
.subTask:hover{
    border-bottom: 1px solid var(--baseColor);
    border-top: 1px solid var(--baseColor);
    border-right: 1px solid var(--baseColor);
    font-weight: bold;
}


/*costume styles*/
.sectionTitle{
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}