.btn-group{
    
    font-size: 20px;
    font: bold;
    padding: 5px;
     
    position: relative;
    width: 500px;
    left: 25%;
     
    
    
}

.featureBody{
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}

/*.container{
    left: 30%;
    width: 500px;
    height: 200px;
    position: relative;
    
}*/

.container{
    box-shadow: 0 4px 8px 0 gray;
    width: 700px;
    position: relative;
    left: 25%;
}

.button{
    background-color: rgb(211, 127, 152);
    font-weight: bold;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 gray;
    border-radius: 4px;
    position: relative;
    right: 15%;
    font-size: 20px;
    text-decoration: none;
    

}

.application{
    text-decoration: none;
    color: black;
}

.checkbox{
    position: relative;
    left: 10%;
    cursor: pointer;
}

.label{
    position: relative;
    left: 10%;
    font-weight: normal !important;
    font-size: 15px;
}

.submit{
    background-color: rgb(1, 112, 1);
    color: white;
    text-align: center;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: gray;
    border-radius: 4px;
     
}
