.form{
    width: 700px;
    height: 600px;
    border: 3px solid green;
    border-radius: 4px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 22%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 16px 18px 0 rgb(97, 107, 97);

}

.featureBody{
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}

.fullName{
    font-size: 18px;
}

.name{
    font-size: 18px;
}

.regNo{
    font-size: 18px;
}

.checkedButton{
    text-align: center;
    font-size: 14px;
    background-color: rgb(7, 143, 7);
    font: bold;
    padding: 6px;
    box-shadow: 0 8px 16px 0 grey;
    margin-right: 20px;
    color: white;
    left: 110%;
    position: relative;
}


.cancelButton{
    text-align: center;
    font-size: 14px;
    background-color:rgb(201, 6, 6);
    font: bold;
    padding: 6px;
    box-shadow: 0 8px 16px 0 grey;
    margin-right: 20px;
    color: white;
    left: 75%;
    position: relative;
}

.dataEntry{
    display: table;
    width:100%;
    margin-bottom:20px;
    
  }
  .dataLabel{
    display:table-cell;
    width:50%;
    text-align:center;
    font-size:15px;
    font-weight:bold;

  }
  .data{
    display:table-cell;
    width:50%;
  }
  .head{
    padding:20px;
    text-align:center;
    font-size:25px;
    font-weight:bold;
    

  }
   

  
  .requestMessage{
    font-size:18px;
  }

  .applicationForm{
    width:95%;
  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);

  }
  .inputLabel{
    width: 25%;
    
  }
  .container2{
    width:90%;
    margin:auto;
    
  }
  .input{
    width:100%;
    margin:auto;
    padding:10px;
    border:solid;
    border-color: rgb(218, 218, 218);
    outline: none;

  }