.lecturer{
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgb(95, 93, 93);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    left: 32%;
    background-color: rgba(204, 127, 83, 0.815);
}

.heading{
    text-align: center;
}

.featureBody{
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}


.course{
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgb(95, 93, 93);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    left: 35%;
    background-color: rgba(204, 127, 83, 0.815);
    
}

.container{
    position: relative;
    left: 25%;
    box-shadow: 0 8px 16px 0 rgb(95, 93, 93);
    width: 700px;
    
    border-radius: 4px;
}

.file{
    position: relative;
    left: 22%;
    border: groove;
    width: 400px;
    padding: 8px; 
    background-color: white;
    box-shadow: 0 8px 16px 0 rgb(95, 93, 93);
}

.myFile{
    color: solid black;
}

.submit{
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    left: 40%;
}

 