.academicYear{
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgb(160, 157, 157);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    left: 18%;
    background-color: rgba(204, 127, 83, 0.815); 
    

}

.dropdownList{
    box-shadow: 0 8px 16px 0 rgb(160, 157, 157);
    width: 300px;
    position: relative;
    left: 20%;
    
}

.course{
    font-size: 18px;
    box-shadow: 0 8px 16px 0 rgb(160, 157, 157);
    border-radius: 4px;
    padding: 4px;
    position: relative;
    left: 20%;
    background-color: rgba(204, 127, 83, 0.815); 
    
    
}

.container{
    position: relative;
    left: 30%;
    box-shadow: 0 8px 16px 0 rgb(95, 93, 93);
    width: 500px;

    border-radius: 4px;
}

.search{
    background-color: green;
    color: white;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    left: 45%;
    box-shadow: 0 8px 16px 0  rgb(160, 157, 157);
    font-size: 14px;
    cursor: pointer;
}

.download{
    position: relative;
    left: 42%;
    cursor: pointer;
    font-size: 14px;
    padding: 4px;
    border-radius: 4px;
    background-color: rgb(12, 14, 145);
    color: white;
}



 