.featureBody h1{
    font-size: 40px;
}

/*.featureBody ul{
    background: gray;
    padding: 10px;
  
}

.featureBody ul li {
  background: white;
  margin: 5px;
}

*{
  box-sizing: border-box;
}*/

#inbox {
  border-collapse: collapse;
  width: 100%;
}

#inbox td, #inbox th {
  border: 1px solid #ddd;
  padding: 8px;
}

#inbox tr:nth-child(even)
{background-color: #f2f2f2;}

#inbox tr:hover{
  background-color: #ddd;
}

#inbox th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}