.featureBody h1{
    font-size: 40px;
}

.featureBody ul{
    background: gray;
    padding: 10px;
  
}

.featureBody ul li {
  background: white;
  margin: 5px;
}

*{
  box-sizing: border-box;
}

