.featureBody{
  text-align: center;
  
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  font-size: 18px;
    
}
.button{
      border: none;
      color: white;
      padding: 6px 18px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
     


.featureBody h1 {
   
  font-size: 40px;
}

.featureBody label{
  font-size: 20px;
  margin: auto;
  text-align: left ;
   
}

 

 
 


