.radioToolbar input[type="radio"] {
    display: none;

}

.radioToolbar label {
    display: inline-block;
    opacity: 0.7;
    padding: 8px 20px;
    font-size: 35px;
    cursor: pointer;
    position: relative;
    background-color: var(--entryBackgroundColor);
}

.radioToolbar input[type="radio"]:checked + label {
    background-color: var(--baseColor);
}

.container {
    text-align: center;
}

.subHeading {
    font-size: 24px;
}

.inputStyle {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
}

#date {
    font-size: 18px;
    height: 200px;
}

.labelStyle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.buttonStyle {
    margin-left: auto;
    margin-right: auto;
}

#csvFormContainer {
    margin-left: 50px;
    margin-right: 50px;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

.inquiryMessage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px 20px;
    font-size: 18px;
    border-radius: 5px;
    height: auto;
    background-color: var(--entryBackgroundColor);
    padding: 30px 20px;
}

.attendance {
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border-style: solid;
    border-color: var(--fontColor);
}

.attendanceContainer {
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clickableDiv {
    text-decoration: none;
}

/* popup radio button */
.editRadioToolbar input[type="radio"] {
    display: none;

}

.editRadioToolbar label {
    display: inline-block;
    background-color: var(--entryBackgroundColor);
    padding: 8px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 8px 0 var(--entryBackgroundColor);
}

.editRadioToolbar input[type="radio"]:checked + label {
    background-color: var(--baseColor);
}

.editTopic {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    text-align: center;
}

.editSubTopic {
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.editAttendanceForm {
    display: block;
}

input[type="file"], input[type="radio"] {
    display: none;
}

#attendanceFileLabel {
    padding: 10px;
}

.textStyle {
    cursor: pointer;
}

textarea {
    width: auto;
}

.floatLeft {
    float: right;
}

.upload {
    margin-top: 10px;
}

.markAsRead {
    cursor: pointer;
    float: right;
}

.markAsReadButton {
    visibility: hidden;
    display: none;
}
  