@font-face {
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}

.featureBody {
    font-family: Varela, sans-serif;
}
.form1{
    padding: 0px 100px 0px 500px ;
    border: none;
}
.requestform{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: rgb(182, 231, 202);
    width: 100%;
    /* border: none; */
    border-width: 10px;
    /* padding-right:40px; */
    display:table-cell;
    height: fit-content;
}
.newhead{
    color: rgb(9, 85, 121);
    margin-left: 20px;
    
}
.form2{    
    /* width: 50%; */
    border-style: outset;
    border-width: 10px;
    border: black;
    /* padding-left:50px; */
    text-align: center;
    /* margin: 10px 40px 50px 40px; */
}

.dataraws{
    /* border-style: solid; */
    /* width:100%; */
    margin-bottom:15px;
    /* margin-left:110px; */
    padding-bottom:15px;
    /* margin-top: 10px; */
    display: flex;
    border: none;
    outline: none;
    /* border-width:2px; */
    /* margin:0 auto; */
}

#description{
    /* border-style: solid; */
    border: none;;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    /* padding-right: 150px; */
    padding-bottom: 100px;
    /* border-color: rgb(212, 208, 208); */
    /* width:210%; */
}
.lable{
    margin-bottom: 30px;
    padding: 5px 5px 5px 5px;
    /* font-weight: ; */
}
.h1{
    padding: 20px 0px 0px 300px;
    color: #3A8C9E;
    
}
.h2{
    color: #3A8C9E;
}
.buttoncheck{
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    background-color: #7cd1e4;


}
#head{
    margin:auto;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-bottom:10px;
}

.navlink:hover{
    background-color: rgb(58, 189, 212);  
}

.appointment:hover{
    background-color: #cacbcc;
    color: rgb(252, 252, 252);
    cursor:pointer;
}

.appointment{
    width:100%;
    border: none;
    background-color: #e7e8e9;
    outline: none;
    height: 35px;
    text-decoration: none;
    
}
.appointmentDescription{
    margin-top: 7px;
    margin-left: 5px;
    color: rgb(43, 39, 39);
}
#apptp{
    text-align:left;
    padding-left:20px;
}
#messageContent1{
    /* border-style: solid; */
    /* border-color: rgb(102, 150, 153); */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(49, 113, 117), 0 6px 20px 0 rgb(30, 97, 102);
    border-width: 5px;
    background-color: rgb(245, 244, 245);
    margin-top: 20px;
    width: 40%;
}


.content{
    /* display:inline-block; */
    /* text-align:center; */
    text-align:center;
    font-size:18px;
    width: 70%;
    background-color: beige;
    height: fit-content;
    padding: 30px;           
    /* margin-top: 100px; */
    margin-left: auto;
    margin-right: auto;
    
}
/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
.topicNew{
    width:100%;
    padding:15px;
    background-color: rgb(204, 233, 238);   
}
.topicHistory{
    width:100%;
    padding:15px;
    background-color: rgb(241, 160, 236);   
}
.ttl{
    display:table;
    margin-bottom:10px;
    width:100%;
}
.vale{
    display:table-cell;
    text-align:left;
    /* padding-right:20px; */
}
.btn{
    border:none;
    background-color: #60a3b3;
    height:30px;
    width:100%;
    border-radius: 3px;
    font-weight:bold; 
    display: table-cell;
    margin-bottom: 5px;              
    outline: none;
}
#btn1:hover{
    cursor:pointer;
    background-color: #8bfd81;

}
#btn2:hover{
    cursor:pointer;
    background-color: #fd8181;

}
.appointmentMessage{
    /* display:none; */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 226, 211, 0.4);
}
#messageContent2{
    /* border-style: solid;
    border-color: rgb(134, 89, 134); */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(134, 28, 129), 0 6px 20px 0  rgb(201, 66, 194);
    border-width: 5px;
    background-color: rgb(245, 244, 245);
    margin-top: 100px;
    width:40%;
}
.descriptionDetails{
    width: 75%;
    margin: auto;
    font-size: 13px;
}
.navibar{
    display:table;
    width:100%;
    border: none;
    background-color: rgb(148, 195, 238);
    /* margin-bottom:4px; */
    height:45px;
    
}
.navlink{
    display:table-cell;
    border:none;
    background:none;
    cursor:pointer;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-weight:bold;
    font-size:15px;
    height:45px;
    outline:none;
}
.navibar{
    display:table;
    width:100%;
    border: none;
    background-color: rgb(148, 195, 238);
    /* margin-bottom:4px; */
    height:45px;
    
}

.Myappointments{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    vertical-align: top;
    position:top;
    margin-bottom: 50px;
    width: 98%;
    display:table-cell; 
}

.appoint{
    /* margin-left: 10px; */
    /* margin-right:15px; */
    border-width: 0.5px;
    /* width:auto; */
    /* margin-bottom:-30px; */
    /* width:97%; */
    height:43px;
    text-align:left;
    white-space:nowrap;
    background-color: #e7e8e9;
    border-color: rgb(177, 174, 174);
    color: rgb(22, 68, 68);
    outline:none;
}
.appoint:hover{
    background-color: #cacbcc;
    cursor:pointer;
}

.button{
    /* width:210%; */
    text-align:center;
    border:none;
    padding:10px;
    margin-bottom:5px;
    background-color: rgb(150, 241, 107);
}
.button:hover{
    background-color: rgb(72, 177, 72);
    cursor:pointer;

}

.tabcontaint{
    display:table;
    margin:auto;
    width:96%;
    margin-bottom:30px;
}
.subTab{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    margin-top: 10px;
}
.list{
    margin-bottom: 50px;
}
.tabcontaint2{

    margin:auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
    width:100%;
    margin-bottom:30px;
}

#parr{
    padding-bottom:20px;    
}
.profile{
    /* margin-left: 15%;
    margin-right: 15%; */
    /* height: fit-content; */
    /* text-align:left; */

    background-color: rgb(248, 226, 186);
    width:95%;
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 30px 0 rgba(0, 0, 0, 0.19);
    height: 80%;
    /* margin:5px; */
    /* border-style:solid; */
    /* border-width: 2px; */
    /* border-color: rgb(192, 150, 59); */
}
.details{
    font-size: 13px;
}
.profData{
    height: 18%;
}
#message2{                
    background-color: rgb(227, 171, 241,0.4);
}
.footer{
    display: flow-root;
}
.close {
    color: #aaaaaa;
    float:right;
    float: inline-end;
    font-size:20px;
    height:25px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.reply{
    width:100%;
    background-color: #eeecec;
    padding-bottom: 100px;
    border: solid;
    border-width: 0.5px;
    outline:none;
}





