* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
      body {
        height: 900px;
      }
      header {
        background: url("imgs/Header_background.jpg");
        text-align: center;
        width: 100%;
        height: auto;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        border-radius: 0 0 85% 85% / 30%;
      }
      header .overlay {
        width: 100%;
        height: 100%;
        padding: 5px;
        color: #fff;
        text-shadow: 1px 1px 1px #333;
        background-image: linear-gradient(
          135deg,
          #ff050542 10%,
          #d8125b4a 100%
        );
      }

      .mainText {
        text-align: center;
        font-size: 80px;
        margin-bottom: 30px;
      }

      h3,
      p {
        font-family: "Open Sans", sans-serif;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
      }
      .imgSection {
        width: 15%;
        display: inline-block;
      }
      .textSection {
        width: 65%;
        display: inline-block;
        text-align: center;
      }
      @media screen and (max-width: 650px) {
        .imgSection,
        .textSection {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        img {
          width: 200%;
        }
      }
      .login {
        display: inline;
      }
      .loginInfo {
        height: 50px;
        background-color: #730b4a;
        text-align: right;
        color: white;
        font-size: 20px;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
        margin: auto;
        padding: 10px;
      }