/*fonts*/
@font-face {
    font-family: Varela;
    src: url('../font/Varela-Regular.ttf');
}

@font-face {
    font-family: BioRhyme;
    src: url('../font/BioRhyme-Regular.ttf');
}
@font-face {
    font-family: Alegreya;
    src: url('../font/Alegreya-Italic.ttf');
}

/*colors for notificationBlocks*/
.blue {
    background-color: #0303ff;
    border: #2f2fb0;
}

.green {
    background-color: #0fbe0f;
    border: #0e6e0e;
}

.red {
    background-color: #f50a0a;
    border: #a90d0d;
}

.gray {
    background-color: #838181;
    border: #4e4c4c;
}

.orange {
    background-color: #faa406;
    border: #b87b06;
}
/*color themes*/
:root{
    /*close to natural theme color*/
    --baseColor:#31708E;
    --fontColor:#687864;
    --successColor:#00800085;
    --dangerColor:#f5090978;
    --idleColor:#F7CB73;
    --entryBackgroundColor:#6878640d;
    --backgroundColor:#F7F9Fb;

    /*Accent Colors That Pop theme color*/
    /*--baseColor: #802BB1;*/
    /*--fontColor: #D1D7E0;*/
    /*--successColor: #00800085;*/
    /*--dangerColor: #f5090978;*/
    /*--idleColor: #F7CB73;*/
    /*--entryBackgroundColor: #4C495D7A;*/
    /*--backgroundColor: #2D283E;*/

}
.bodyBackground{
    background-color:var(--backgroundColor);
}
.button{
    color:white;
    background-color: var(--baseColor);
}
buttonSubmit{
    border-left: 5px solid var(--successColor);
}
buttonCancel{
    border-left: 5px solid var(--dangerColor);
}
.text{
    color:var(--fontColor);
}
.normalEntry{
    background-color:var(--entryBackgroundColor);
    border-left: 15px solid var(--baseColor);
    color: var(--baseColor);
}
.warningEntry{
    background-color:var(--entryBackgroundColor);
    border-left: 20px solid var(--dangerColor);
}
.successEntry{
    background-color:var(--entryBackgroundColor);
    border-left: 20px solid var(--successColor);
}
.ideaEntry{
    background-color:var(--entryBackgroundColor);
    border-left: 20px solid var(--idleColor);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*styles for header of all component views*/
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background: url("../image/headerBackground.jpg") fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 0;
}

header .overlay {
    width: 100%;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, #57585a75 10%, #7b817f9c 100%)
}

img {
    width: 80%;
}

.imgSection {
    width: 100%;
    display: inline-block;
}

/*style for top header and university name*/
.textSection {
    display: inline-block;
    text-align: center;
    font-family: Varela, sans-serif;
    font-weight: bold;
}

.uniName {
    font-size: 20px;
    font-family: Alegreya, sans-serif;
    font-style: italic;
}

.mainText {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

/*top login information bar*/
.loginInfo {
    height: auto;
    background-image: linear-gradient(135deg, #383a3a 10%, #5b5544 100%);
    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 22px;
    border-radius: 0;
    margin: auto;
    padding: 12px 25px;
}

/*styles for footer of all component views*/
.mainFooter {
    text-align: center;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: #000000;
    color: white;
    display: block;
}

.basicDescription > p {
    text-align: justify;
    font-size: 18px;
    font-family: Alegreya, sans-serif;
    padding: 5px;
}

.basicDescription > img {
    width: 50%;
    display: inline-block;
}

.addressBlock > span {
    display: block;
    text-align: left;
    font-size: 18px;
    font-family: Alegreya, sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: normal;
}

.addressBlock > h3 {
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.addressBlock > span > a {
    color: white;
    padding: 5px;
    margin: 5px;
}

/*basic style for content block*/
.content {
    display: block;
    margin: 20px;
}