/*fonts*/
@font-face {
    font-family: Varela;
    src: url('../font/Varela-Regular.ttf');
}

@font-face {
    font-family: BioRhyme;
    src: url('../font/BioRhyme-Regular.ttf');
}

@font-face {
    font-family: Alegreya;
    src: url('../font/Alegreya-Italic.ttf');
}

/*colors for notificationBlocks*/
.blue {
    background-color: #0303ff;
    border: #2f2fb0;
}

.green {
    background-color: #0fbe0f;
    border: #0e6e0e;
}

.red {
    background-color: #f50a0a;
    border: #a90d0d;
}

.gray {
    background-color: #838181;
    border: #4e4c4c;
}

.orange {
    background-color: #faa406;
    border: #b87b06;
}

/*color themes*/
:root {
    --headerFooterText: #F7F9Fb;

    /*close to natural theme color*/
    --baseColor: #31708E;
    --fontColor: #687864;
    --successColor: #00800085;
    --dangerColor: #f5090978;
    --idleColor: #F7CB73;
    --entryBackgroundColor: #6878640d;
    --backgroundColor: #F7F9Fb;
    --headerFooterBackground: #5085A5;
    --headerSharding: #5085a578;

    /*Accent Colors That Pop theme color*/
    /*--baseColor: #802BB1;*/
    /*--fontColor: #D1D7E0;*/
    /*--successColor: #00800085;*/
    /*--dangerColor: #f5090978;*/
    /*--idleColor: #F7CB73;*/
    /*--entryBackgroundColor: #4C495D7A;*/
    /*--backgroundColor: #2D283E;*/
    /*--headerFooterBackground:#564F6F;*/
    /*--headerSharding:#564f6fb3;*/
}

.bodyBackground {
    background-color: var(--backgroundColor);
}

.buttonSubmit {
    border-left: 5px solid var(--successColor);
}

.buttonCancel {
    border-left: 5px solid var(--dangerColor);
}

.text {
    color: var(--fontColor);
}

.normalEntry {
    background-color: var(--entryBackgroundColor);
    border-left: 15px solid var(--baseColor);
    color: var(--baseColor);
}

.warningEntry {
    background-color: var(--entryBackgroundColor);
    border-left: 20px solid var(--dangerColor);
}

.successEntry {
    background-color: var(--entryBackgroundColor);
    border-left: 20px solid var(--successColor);
}

.ideaEntry {
    background-color: var(--entryBackgroundColor);
    border-left: 20px solid var(--idleColor);
}

/*common element styles*/

input[type=number], input[type=text], input[type=email], textarea, select, option {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    width: 280px;
    color: var(--fontColor);
    background-color: var(--backgroundColor);
    resize: none;
}

/*input type number remove increase decrease arrow*/

/*for chromium based browsers*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*for firefox based browsers*/
input[type=number] {
    -moz-appearance: textfield;
}

/*style for button*/
.button {
    height: auto;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    padding: 9px;
    margin: 4px;
    min-width: 200px;
    width: max-content;
    color: white;
    background-color: var(--baseColor);
}

.buttonCouple {
    margin: 10px auto;
    text-align: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.featureBody {
    padding-top: 10px;
    padding-bottom: 30px;
}

/*styles for header of all component views*/
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background: url("../image/headerBackground.jpg") fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 0;
}

header .overlay {
    width: 100%;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(135deg, var(--headerSharding) 20%, var(--headerSharding) 30%)
}

img {
    width: 80%;
}

.imgSection {
    width: 100%;
    display: inline-block;
}

/*style for top header and university name*/
.textSection {
    display: inline-block;
    text-align: center;
    font-family: Varela, sans-serif;
    font-weight: bold;
}

.uniName {
    font-size: 20px;
    font-family: Alegreya, sans-serif;
    font-style: italic;
}

.mainText {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

/*top login information bar*/
.loginInfo {
    height: auto;
    background-color: var(--headerFooterBackground);
    text-align: right;
    color: var(--headerFooterText);
    font-weight: bold;
    font-size: 22px;
    border-radius: 0;
    margin: auto;
    padding: 12px 25px;
}

/*styles for footer of all component views*/
.mainFooter {
    text-align: center;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: var(--headerFooterBackground);
    color: var(--headerFooterText);
    display: block;
}

.basicDescription > p {
    text-align: justify;
    font-size: 18px;
    font-family: Alegreya, sans-serif;
    padding: 5px;
}

.basicDescription > img {
    width: 50%;
    display: inline-block;
}

.addressBlock > span {
    display: block;
    text-align: left;
    font-size: 18px;
    font-family: Alegreya, sans-serif;
    padding: 5px;
    margin: 5px;
    font-weight: normal;
}

.addressBlock > h3 {
    text-align: left;
    padding: 5px;
    margin: 5px;
}

.addressBlock > span > a {
    color: white;
    padding: 5px;
    margin: 5px;
}

/*basic style for content block*/
.content {
    display: block;
    margin: 20px;
}