* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 900px;
}
header {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background: url("../images/Header_background.jpg") fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 0;
}
header .overlay {
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    /*background-image: linear-gradient( 135deg, #d8125b69 10%, #5fff0578 100% );*/
    background-image:linear-gradient( 135deg, #57585a75 10%, #7b817f9c 100% )
}

.mainText {
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 30px;
}
img {
    width: 100%;
}
.imgSection {
    width: 15%;
    display: inline-block;
}
.textSection {
    width: 65%;
    display: inline-block;
    text-align: center;
}
@media screen and (max-width: 650px) {
    .imgSection,
    .textSection {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 200%;
    }
}
/*top login information bar*/
.loginInfo {
    height: 50px;
    background-image: linear-gradient( 135deg, #57585a 10%, #5e6361 100% );
    text-align: right;
    color: white;
    font-size: 20px;
    border-radius: 0;
    margin: auto;
    padding: 10px;
}
/*footer styles*/
.mainFooter{
    text-align: center;
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}
/*Tile styles*/
.Tile{
    width: 175px;
    height: 200px;
    align-content: center;
    border-radius: 7px;
    box-shadow: 0 49px 49px -49px rgb(0,0,0);
    border-width: 0;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    transition: 0.7s;
    opacity: 0.8;
    display: inline-flex;
    alignment: center;
    outline: none;
    text-decoration: none;
}
.Tile:hover{
    opacity: 1;
    transition: 1s;
    box-shadow: 0 16px 16px -16px rgb(0,0,0);
    transform: scale(1.1);
}
.Tile h2{
    color: white;
    text-align: center;
}

/*topSection styles*/
.topSection{
    border: 2px solid black;
    border-radius: 5px;
    height: 350px;
    width: auto;
    margin: 20px;
    padding: 15px;
}
.linkSection{
    padding: 5px;
    margin: 20px;
}
.notificationBlock{
    display: inline-block;
    width: 80%;
    height: 300px;
    float: left;
}
.profileSection{
    display: inline-block;
    width: 19%;
    height: 320px;
    float: right;
    border: 2px solid black;
}
.profilePic{
    display: block;
    height: 40%;
    border: 1px solid black;
    width: 75%;
    padding: 5px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.notificationStack{
    display: inline-block;
    border: 2px solid #6e6868;
    border-radius: 5px;
    height: 320px;
    width: 24%;
    padding: 10px;
}
/*notification header styles*/
.stackHeader{
    display: flex;
}
.stackLabel{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    height: 15%;
    width: 88%;
    margin: 5px;
}
.notificationCount{
    text-align: center;
    display: inline-block;
    width: 15%;
    height: 15%;
    border-radius: 15px;
    border: 1px solid red;
    color: white;
    background-color: red;
    font-weight: bold;
}
/*notification entry styles*/
.notificationEntry{
    display: block;
    height: 18%;
    width: auto;
    border: 1px solid red;
    margin: 5px;
    border-radius: 5px;
    bottom: 0;
}
