@font-face {
    font-family: Varela;
    src: url('../../../assets/font/Varela-Regular.ttf');
}

.featureBody {
    font-family: Varela, sans-serif;
}

.head{
    text-align: center;

}
.workloadMessage{
    /* color: white; */
    margin: 5px;
    padding: 10px;
    width: 90%;
    margin-right: 25px;
    margin-left: 25px;
    border:none;
    outline: none;
    
    background-color: rgb(177, 190, 228);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.workloadMessage:hover{
    background-color: rgb(81, 173, 226);
}
.messageViewer{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 550px;
}
.button{
    border: none;
    padding: 6px;
    width: 100px;
}
.cancel{
    background-color:rgb(255, 248, 145);
}
.cancel:hover{
    background-color: rgb(253, 235, 76);
}
.allocate{
    background-color: rgb(145, 245, 158);
}
.allocate:hover{
    background-color: rgb(96, 241, 83);
}
.topic{
    text-align: center;
    height: 20px;
    margin-top: 20px;
    color: rgb(161, 163, 163);
}
.displayingMessage{
    display: table;
    height: 50px;
    margin-left: 10%;
    margin-right: ;
    width:80%;
}
.lable{
    font-weight: bold;
    text-align: center;
    display: table-cell;
    width: 50%;
}
.value{
    display: table-cell;
    width: 50%;
}

.messageView{
    text-align: center;
    margin-top: 250px;
    color: rgb(180, 178, 178);
}
.searchMembers{
    /* height: 400px; */
    min-height: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* height: fit-content; */
}
.search{
    background-color: thistle;
    padding-top: 10px;
    height: 60px;
    
}
.member{
    width: 98%;
    padding:5px;
    background-color: rgb(228, 175, 228);
    margin: 5px;
}
.memberLable{
    /* width: 50%; */
    float: right;
}
.allocateForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.searchbutton{
    border: none;
    width: 100px;
    height: 20px;
    background-color: rgb(226, 155, 226);
}
.searchbutton:hover{
    background-color: rgb(241, 102, 241);
}
.finalMsg{
    /* overflow: auto; */
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(135, 212, 139,0.4);
}
.successMsg{
    border: solid;
    border-width: 8px;
    border-radius: 5px;
    border-color: rgb(52, 134, 50);
    margin: auto;
    background-color: white;
    text-align: center;
    margin-top: 20%;
    padding-top: 10px;
    height: 100px;
    width: 200px;
}