@font-face {
    font-family: Varela;
    src: url('../../assets/font/Varela-Regular.ttf');
}

.featureBody {
    font-family: Varela, sans-serif;
}

.default {
    min-height: 650px;
    height: fit-content;
}

.form {
    margin: 100px auto auto;
    border: 10px black;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.toolTip {
    position: absolute;
    margin-top: 10px;
    background-color: rgb(92, 91, 91);
    width: 250px;
    word-break: break-all;
    border-radius: 7px;
    padding: 10px;
    text-align: justify;
    color: beige;
}

.toolTip::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, 0.4) transparent;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.form {
    border: 10px black;
    border-radius: 5px;
    width: 500px;
    padding: 20px;
    margin-bottom: 80px;
}

.head {
    text-align: center;
    display: block;
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    color: var(--fontColor);

}

.inputLabel {
    font-size: 18px;
    color: var(--fontColor);
    text-align: center;
    display: block;
    padding-top: 20px;
    margin-bottom: 10px;
}




