/*header section*/


.container{
    height: auto;
    display: flex;
}
.notificationStackContainer{
    width: 25%;
    height: auto;
    margin-left: -10px;
}
.content{
    width: 68%;
    height: auto;
    margin: 0px;
}
.userInformation{
    width: 17%;
    height: auto;
    margin-left: 0px;

}
/*user information*/
.profileSection {
    height: auto;
    border: 1px solid #a5a2a2;
    border-radius: 5px;
    background-color: #eeeeee63;
}
.userSetting {
    float: right;
    margin: 3px;
    text-decoration: none;
    color: black;
}
.profilePic {
    display: block;
    height: fit-content;
    border: 1px solid #a5a2a2;
    width: 70%;
    padding: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
/*profile information*/
.userInfo {
    padding: 15px;
    overflow: hidden;
}

.userInfo .name {
    font-size: 25px;
    font-weight: bold;
    font-family: BioRhyme, sans-serif;
}

.userInfo .emailPersonal, .userInfo .emailUniversity {
    font-size: large;
    font-family: BioRhyme, sans-serif;
}

.userInfo .gpa {
    font-size: large;
    border: 1px solid;
    text-align: center;
    display: block;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}
/*profileSection re-ordering*/
@media screen and (max-width: 992px) {
    .profileSection {
        order: -1;
    }
}

.notificationStack {
    border: 1px solid #a5a2a2;
    border-radius: 5px;
    height: 700px;
    padding: 10px;
    min-height: 360px;
    background-color: #9400d396;
    opacity: 0.7;
    /*margin: 10px;*/
}

/*notification header styles*/
.stackHeader {
    display: flex;
}

.stackLabel {
    height: 15px;
    width: 88%;
    margin: 5px;
    font-family: BioRhyme, sans-serif;
    font-weight: bold;
    text-align: center;
}

.notificationCount {
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid red;
    color: white;
    background-color: red;
    font-weight: bold;
    font-family: BioRhyme, sans-serif;
    padding: 6px;
    overflow: hidden;
}

/*notification entry styles*/
.notificationEntry, .notificationEntryTimeTable {
    display: block;
    height: 20%;
    width: 95%;
    border: 1px solid;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    overflow: hidden;
    color: white;
    opacity: 0.7;
}

.notificationEntryTimeTable {
    width: auto;
    padding-left: 8px;
    background-color: #d2691e94;
    border: #24160c;
    height: auto;
}

.notificationIcon {
    width: 12%;
    display: inline-flex;
    padding: 5px;
    color: white;
}
.linkSection {
    height: auto;
    padding: 0px;
    margin: 0px;
}
/*link tile styles*/
.tile  {
    height: 200px;
    overflow: hidden;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: #ecebeb;
    transition: all .5s linear;
    opacity: 0.7;
    background-color: #9400d396;
}

.tile:hover {
    color: #ffffff;
    transition: all .5s linear;
    opacity: 1;
    box-shadow: #b4b8b8 2px 2px;
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
}

.tileImage {
    height: auto;
    padding: 5px;
    margin: 10px;
}

.tileDescription {
    height: auto;
    display: block;
    font-size: 30px;
    padding: 5px;
    margin: 8px;
    font-weight: bold;
}
.timetable{
    width: 192%;
    height: 200px;
    padding-top: -20px;
    /*overflow: hidden;*/
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0.7;
    background-color: rgba(130, 120, 134, 0.59);
}
/*calender*/
.calenderContainer{
    height: 200px;
    margin-top: 10px;

}
.dayContainer{
    height: 32px;
    background: #0097a7;
    color: white;
    line-height: 32px;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.3px;
    align-items: center;
    text-align: center;
}
.dateTime{
    background-color: #26bfd0;
    color: white;
    text-align: center;
    padding: 10px;

}
.month{
    font-size: 25px;
    font-weight: bold;
}
.date{
    font-size: 60px;
}
.time{
    font-size: 25px;
}
/*.calenderContainer{*/
/*    background-color: #41b2ba;*/
/*    width: 100%;*/
/*    height: 0px;*/
/*    justify-content: center;*/
/*    align-items: center;*/

/*}*/
/*.calender{*/
/*    width: 100%;*/
/*    height: 215px;*/
/*    !*background-color: #888888;*!*/
/*    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.4) ;*/
/*    !*padding: 0 2rem;*!*/
/*}*/
/*.month{*/
/*    width: 100%;*/
/*    height: 70px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*    text-shadow:0 0.3rem 0.5rem rgba(0,0,0,0.5);*/
/*    !*padding: 0 0.5rem;*!*/
/*}*/
/*.month i{*/
/*    font-size: 26px;*/
/*    cursor:pointer;*/
/*}*/
/*.month h4{*/
/*    font-size: 16px;*/
/*    font-weight: bold;*/
/*    text-transform: uppercase;*/
/*    letter-spacing: 2px;*/
/*    margin-bottom: 4px;*/
/*}*/
/*.month p{*/
/*    font-size: 16px;*/
/*}*/
/*.weeksDays{*/
/*    width: 100%;*/
/*    height: 0px;*/
/*    padding: 0 0px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/
/*.weeksDays div{*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    !*width: calc(100%/7);*!*/
/*    width: 13.5%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-bottom: 14px;*/
/*    text-shadow: 0 2px 4px rgba(0,0,0,0.5);*/
/*}*/
/*.days{*/
/*    width: 258px;*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    !*padding: 10px;*!*/
/*    !*background-color: #2f2fb0;*!*/

/*}*/
/*.days div{*/
/*    font-size: 15px;*/
/*    !*margin: 5px;*!*/
/*    !*width: calc(258px/8);*!*/
/*    width: 13.5%;*/
/*    height: 20px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    !*background-color: #0faf44;*!*/
/*    !*padding: 5px;*!*/
/*}*/
/*.days div:hover:not(.today){*/
/*    background-color: white;*/
/*    border: 0.2rem solid #777 ;*/
/*    cursor:pointer;*/
/*}*/
/*.prevDate,*/
/*.nextDate{*/
/*    opacity: 0.7;*/
/*}*/
/*.today{*/
/*    background-color: #a5a2a2;*/
/*}*/