/*header section*/


.container{
    height: auto;
    display: flex;
}
.notificationStack{
    width: 15%;
    height: auto;
}
.content{
    width: 70%;
    height: auto;
}
.userInformation{
    width: 15%;
    height: auto;
}
/*user information*/
.profileSection {
    height: auto;
    border: 1px solid #a5a2a2;
    border-radius: 5px;
    background-color: #eeeeee63;
}
.userSetting {
    float: right;
    margin: 3px;
    text-decoration: none;
    color: black;
}
.profilePic {
    display: block;
    height: fit-content;
    border: 1px solid #a5a2a2;
    width: 70%;
    padding: 5px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
/*profile information*/
.userInfo {
    padding: 15px;
    overflow: hidden;
}

.userInfo .name {
    font-size: 25px;
    font-weight: bold;
    font-family: BioRhyme, sans-serif;
}

.userInfo .emailPersonal, .userInfo .emailUniversity {
    font-size: large;
    font-family: BioRhyme, sans-serif;
}

.userInfo .gpa {
    font-size: large;
    border: 1px solid;
    text-align: center;
    display: block;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}