input[type=text],input[type=file],input[type=month],select{
    width: 50%;
    padding: 8px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}
input[type=file]{
    border: none;
    display: none;
}
.fileLabel{
    display: block;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid blue;
    padding: 8px;
    font-size: 18px;
    color: white;
    background-color: blue;
}

.showRadio, .showRest{
    display: inline-table;
    border-collapse: collapse;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
select option{
    display: inline-block;
}
.showRadio td{
    vertical-align: top;
    width: fit-content;
    text-align: left;
}
.showRadio td span, .showRest td span{
    font-size: 18px;
    display: block;
    padding-bottom: 10px;
    font-weight: bold;
}
.showRadio td, .showRest td{
    padding-top: 30px;
}

.showRadio td label{
    font-size: 20px;
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid rgba(128, 128, 128, 0.28);
    width: 200px;
    text-align: center;
    transition: all 0.4s linear;
    border-radius: 2px;
    background-color: #80808082;
}
.showRadio input[type=radio]{
    visibility: hidden;
    display: none;
}
.showRadio input[type=radio]:checked ~label{
    background-color: #353746;
    color: white;
}


