
.heading {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.subHeading{
    font-weight: bold;
    font-size: 24px;
}
.container{
    margin: 90px;
}
input[type=text]{
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    min-width: 300px;
}
select{
    width: 25%;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    min-width: 300px;
}
.submitButton {
    height: auto;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 4px;
    padding: 9px;
    margin: 4px;
    width: 200px;
    
}
.buttonContainer{
    margin-right: auto;
    margin-left: auto;
    
}
input[type=checkbox]{
    font-size: 32px;
}
textarea{
    font-size: 20px;
    /* text-align: center; */
    padding-left: 25px;
}
.check +label,.checkFirstSet+label,.checkSecondSet+label, .checkThirdSet+label{
    font-size: 18px;
    padding-bottom: 10px;
    cursor: pointer;
    
}
.check{
    margin-left: 30px;
}
.checkFirstSet{
    margin-left: 60px;
}
.checkSecondSet{
    margin-left: 90px;
}
.checkThirdSet{
    margin-left: 120px;
}
.category{
    margin-bottom: 15px;
    margin-top: 15px;
}
/*radioToolbar*/
.radioToolbar input[type="radio"] {
    display: none;

}
.radioToolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 8px 5px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    height: 60px;
    width:100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.radioToolbar input[type="radio"]:checked+label {
    background-color: rgb(169, 177, 174)
}
textarea {
    resize: none;
}
.textareaStyle{
    padding: 10px;
    text-align: center;
}
.divStyle{
    padding: 2px;
}
