

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
/* Search bar */
* {
    box-sizing: border-box;
}

  /* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    max-width: 1070px;
    background: #f1f1f1;
    margin-left: -12px;
}

  /* Style the submit button */
form.example button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.notification{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-left: -280px;
    margin-top: 5px;
    /* width: 1200px; */
    max-width: 1200px;
    
}
.notificationNext{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-top: 5px;
    background-color: yellow;
}
/* radio */
.radioToolbar input[type="radio"] {
    display: none;

}

.radioToolbar label {
    display: inline-block;
    background-color:#bbb;
    padding: 8px 20px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.radioToolbar input[type="radio"]:checked+label {
    background-color: rgb(112, 117, 115);
}

.radioStyle:hover label{
    background-color: rgb(112, 117, 115);
}
.radioToolbar{
        margin: 0;
        padding: 0;
        width: 250px;
        background-color: #f1f1f1;
        position: absolute;
        height: auto;
        overflow: auto;
}
.inner {
    margin-left: 250px;
    padding: 1px 16px;
    height: auto;
}


@media screen and (max-width: 700px) {
    .radioToolbar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .radioToolbar .radioStyle {float: left;}
    div.inner {margin-left: 0;}
}

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
    @media screen and (max-width: 400px) {
    .radioToolbar .radioStyle {
        text-align: center;
        float: none;
    }
}

