
.inner{
    width: 200%;
    
}
.heading {
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
/* Search bar */
* {
    box-sizing: border-box;
}

  /* Style the search field */
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

  /* Style the submit button */
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

  /* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}
.notification{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-top: 5px;
    /* width: 1200px; */
    max-width: 1200px;
    
}
.notificationNext{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin-top: 5px;
    background-color: yellow;
}
/* radio */
.radioToolbar input[type="radio"] {
    display: none;

}

.radioToolbar label {
    display: inline-block;
    background-color:#bbb;
    padding: 8px 20px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
.radioToolbar input[type="radio"]:checked+label {
    background-color: rgb(112, 117, 115);
}
.radioStyle {
    transition: transform .2s; /* Animattion*/
}
.radioStyle:hover{
    transform: scale(1.05);
    /* background-color: wheat; */
}

