
tr{
    margin-left: 20%;
    /* background-color: aqua; */
}
table{
    border-collapse: collapse;
    width: 70%;
    margin: auto;
}
th{
    width: 16%;
    height: 40px;
    border: 1px solid var(--entryBackgroundColor);
    /* border-color: rgb(218, 215, 218); */
    border-width: 3px;
}
.line9{
    background-color: var(--entryBackgroundColor);
}
.head{
    /* margin: auto; */
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    /* background: linear-gradient(to bottom right,rgb(255, 252, 104),white); */
}
.day{
    background-color:var(--entryBackgroundColor);
}

